<nav class="pagination" role="pagination">
   <div href="" class="arrow-wrap arrow-back">
    {{#if prev}}
    	<a href="{{pageUrl prev}}">
	      <span class="fontawesome-arrow-left single-arrow"></span> 
    		<span class="pagination-txt"> Newer</span> 
    	</a>
    {{/if}}
    		&nbsp; 
   </div>
   <div href="" class="arrow-wrap arrow-next">
      	&nbsp;
    {{#if next}}
      <a href="{{pageUrl next}}">
    		<span class="pagination-txt">Older </span>
	       <span class="fontawesome-arrow-right single-arrow"></span>
	   </a>
    {{/if}}
   </div>
</nav>